<div class="container" *ngIf="isLoading">
  <app-loader></app-loader>
</div>
<div class="container" *ngIf="!isLoading">
    <div class="image-container fadeInLeft">
        <div>
            <img src="   https://cdn-icons-png.flaticon.com/512/6195/6195699.png " width="256" height="256" alt="" title="" class="img-small">
        </div>
      </div>
        
        <div class="reset-box fadeInRight">
          <!-- <h2>Login</h2> -->
          <div class="content">
            <h2>Create New Password</h2>
            <p>Enter your new password</p>
            </div>
          <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input type="password" id="password" name="password" formControlName="password" required placeholder="Enter your password">
            </div>
            <div class="form-group">
                <input [type]="isPasswordVisible ? 'text' : 'password'"  id="confirm_password" name="confirm_password" formControlName="confirm_password" required placeholder="Enter your confirm-password">

                <div class="eye-div">
                  <img *ngIf="!isPasswordVisible"
                  src="https://cdn-icons-png.flaticon.com/512/10812/10812267.png" 
                  width="15" height="15" 
                  alt="Toggle password visibility" 
                  class="eye-icon" 
                  (click)="togglePasswordVisibility()">
        
                  <img *ngIf="isPasswordVisible"
                  src="   https://cdn-icons-png.flaticon.com/512/159/159604.png "
                   width="15"
                    height="15"
                     alt="" title="" 
                     class="eye-icon" 
                     (click)="togglePasswordVisibility()">
                </div>
              </div>

            <button type="submit" class="btn-reset-password">Confirm Password</button>
      
          </form>
        </div>
</div>