<!-- Table with Verification Token Records -->
<div class="table relative flex flex-col w-full h-full overflow-scroll text-gray-700 bg-white shadow-md rounded-xl bg-clip-border">
    <table class="w-full text-left table-auto min-w-max">
        <thead>
            <tr>
                <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-none">
                        Token ID
                    </p>
                </th>
                <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-none">
                        Email
                    </p>
                </th>
                <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-none">
                        Token
                    </p>
                </th>
                <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-none">
                        Expiry Time
                    </p>
                </th>
                <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-none">
                        Created At
                    </p>
                </th>
                <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-none">
                        Last Update
                    </p>
                </th>
                <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-none">
                        Actions
                    </p>
                </th>
            </tr>
        </thead>
        <tbody *ngIf="tokens.length > 0">
            <tr *ngFor="let token of tokens">
                <td class="p-4 border-b border-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-normal text-blue-gray-900">
                        {{ token.verificationTokenId }}
                    </p>
                </td>
                <td class="p-4 border-b border-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-normal text-blue-gray-900">
                        {{ token.email }}
                    </p>
                </td>
                <td class="p-4 border-b border-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-normal text-blue-gray-900">
                        {{ token.token }}
                    </p>
                </td>
                <td class="p-4 border-b border-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-normal text-blue-gray-900">
                        {{ token.expiryTime | date:'short' }}
                    </p>
                </td>
                <td class="p-4 border-b border-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-normal text-blue-gray-900">
                        {{ token.createdAt | date:'short' }}
                    </p>
                </td>
                <td class="p-4 border-b border-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-normal text-blue-gray-900">
                        {{ token.lastUpdate | date:'short' }}
                    </p>
                </td>
                <td class="p-4 border-b border-blue-gray-50 btn-row">
                    <!-- Edit Button with Tooltip -->
                    <button class="edit-btn" (click)="openEditTokenModal(token)">
                        <img src="https://cdn-icons-png.flaticon.com/512/14025/14025007.png" width="20" height="20" alt="edit-icon" title="Edit Token" class="img-small"> 
                    </button> 
                    <!-- Delete Button with Tooltip -->
                    <button class="delete-btn" (click)="deleteTokenRecord(token.verificationTokenId)">
                        <img src="https://cdn-icons-png.flaticon.com/512/6711/6711573.png" width="20" height="20" alt="Delete free icon" title="Delete Token">
                    </button>
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="tokens.length == 0 && !isLoading">
            <tr>
                <td colspan="7" class="text-center p-4">
                    No records found
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="tokens.length === 0 && isLoading">
            <tr>
                <td colspan="7" class="text-center p-4">
                    <app-table-loader></app-table-loader> </td>
            </tr>
        </tbody>
    </table>
    <div class="modal" *ngIf="isEmailTokenModalOpen">
        <app-edit-token-form-modal [selectedEmailToken]="selectedEmailToken" ></app-edit-token-form-modal>
    </div>
    <div class="modal" *ngIf="isDeleteModalOpen">
        <app-delete-modal  [title]="title" ></app-delete-modal>
    </div>
</div>
