<!-- Edit User Role Modal -->
<div class="modal" *ngIf="isRoleModalOpen" (click)="$event.stopPropagation()">
  <div class="modal-content">
    <div class="header">
      <h4>Edit User Role</h4>
      <div class="close-icon" (click)="close()">
        <span class="close-icon-x">×</span>
      </div>
    </div>
    <div class="content">
      <form (ngSubmit)="saveChanges()">
        <!-- Role ID (disabled) -->
        <div class="form-group">
          <label for="roleId">Role ID:</label>
          <input type="number" id="roleId" name="roleId" [(ngModel)]="selectedUserRole.roleId" required disabled />
        </div>

        <!-- Role Name (displayed but editable) -->
        <div class="form-group">
          <label for="role">Role Name:</label>
          <input type="text" id="role" name="role" [(ngModel)]="selectedUserRole.role" required />
        </div>

        <!-- Description (editable) -->
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea id="description" name="description" [(ngModel)]="selectedUserRole.description" required></textarea>
        </div>

        <!-- Created At (read-only) -->
        <div class="form-group">
          <label for="createdAt">Created At:</label>
          <input type="text" id="createdAt" name="createdAt" [(ngModel)]="selectedUserRole.createdAt" disabled />
        </div>

        <!-- Last Updated (read-only) -->
        <div class="form-group">
          <label for="lastUpdate">Last Updated:</label>
          <input type="text" id="lastUpdate" name="lastUpdate" [(ngModel)]="selectedUserRole.lastUpdate" disabled />
        </div>

        <!-- Form Actions -->
        <div class="form-actions">
          <div class="buttons">
            <button class="update-btn" type="submit">
              <img src="https://cdn-icons-png.flaticon.com/512/1688/1688988.png" width="20" height="20" alt="" class="img-small"> Update
            </button>
            <button class="cancel-btn" type="button" (click)="close()">
              <img src="https://cdn-icons-png.flaticon.com/512/9426/9426995.png" width="20" height="20" alt="" class="img-small"> Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
