<!-- modal.component.html -->
<div class="modal-overlay" *ngIf="isDeleteModalOpen" (click)="no()" (click)="$event.stopPropagation()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <div class="circle bg-gray-700">
            <span class="question-mark"><img src="   https://cdn-icons-png.flaticon.com/512/6861/6861362.png " width="25" height="25" alt="" title="" class="img-small"></span>
        </div>
        
        <p>Are you sure you want to Delete {{title}}?</p>
      </div>
      <div>
        
      </div>
      <div class="modal-footer">
        <button (click)="no()"><b>No</b> </button>
        <button (click)="yes()"><b>Yes</b></button>
      </div>
    </div>
  </div>
  