
.oauth{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    background-color: #ffff;
    color: black;
    border: solid 0.5px black;
    border-radius: 5px;
    padding: 8px 15px;
  }
  
  
  .oauth-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }