<!-- Edit Quiz Question Modal -->
<div class="modal" *ngIf="isModalOpen" (click)="close()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="header">
        <h4>Edit Quiz Question</h4>
        <div class="close-icon" (click)="close()">
          <span class="close-icon-x">×</span>
        </div>
      </div>
      <div class="content">
        <form (ngSubmit)="saveChanges()">
          <div class="form-group">
            <label for="quizQuizId">Quiz ID:</label>
            <input type="number" id="quizQuizId" name="quizQuizId" [(ngModel)]="selectedQuizQuestion.quizQuizId" required />
          </div>
          <div class="form-group">
            <label for="questionId">Question ID:</label>
            <input type="number" id="questionId" name="questionId" [(ngModel)]="selectedQuizQuestion.questionId" required />
          </div>
  
          <div class="form-actions">
            <div class="buttons">
              <button class="update-btn" type="submit">
                <img src="https://cdn-icons-png.flaticon.com/512/1688/1688988.png" width="20" height="20" alt="" title="" class="img-small">Update</button>
              <button class="cancel-btn" type="button" (click)="close()">
                <img src="https://cdn-icons-png.flaticon.com/512/9426/9426995.png" width="20" height="20" alt="" title="" class="img-small">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  