.container{
    display: flex;
    flex-direction: column;
    padding: 2%;
}


.form{
    text-align: center;
    width: 50%;
}

  /* Form group styling */
  .form-group {
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  
  /* Label styling */
  .form-group label {
    font-size: 10px;
    margin-bottom: 5px;
    color: #333;
  }
  
  /* Input field styling */
  .form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 10px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  /* Focus effect for inputs */
  .form-group input:focus {
    border-color: #007bff;
  }

  .form-group input:hover {
    border-color: #007bff;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  }

  .gender{
    display: flex;
    gap: 10px;
    flex-direction: row;
  }

  .gender input:hover{
    box-shadow: none;
  }

  .form-div{
    display: flex;
    gap: 50px;
    justify-content: space-between;
  }

  .btn {
    padding: 8px 15px;
    background-color: #4A3AFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
  }
  
  /* Button hover effect */
  .btn:hover {
    background-color: #ffff;
    color: black;
    border: solid 0.5px black;
  }

  .btn-div{
    display: flex;
    justify-content: start;
  }

  hr {
    height: auto;  
    border: #d3d3d3 solid 1px; 
}

