<!-- Edit Quiz Modal -->
<div class="modal" *ngIf="isQuizModalOpen">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="header">
      <h4>Edit Quiz</h4>
      <div class="close-icon" (click)="close()">
        <span class="close-icon-x">×</span>
      </div>
    </div>
    <div class="content">
      <form (ngSubmit)="saveChanges()">
        <div class="form-group">
          <label for="title">Quiz Title:</label>
          <input type="text" id="title" name="title" [(ngModel)]="selectedQuiz.title" required />
        </div>
        
        <div class="form-group">
          <label for="category">Category:</label>
          <input type="text" id="category" name="category" [(ngModel)]="selectedQuiz.category" required />
        </div>

        <div class="form-group">
          <label for="difficultyLevel">Difficulty Level:</label>
          <select id="difficultyLevel" name="difficultyLevel" [(ngModel)]="selectedQuiz.difficultyLevel" required>
            <option value="Easy">Easy</option>
            <option value="Medium">Medium</option>
            <option value="Hard">Hard</option>
          </select>
        </div>

        <div class="form-group">
          <label for="quizTime">Quiz Time (minutes):</label>
          <input type="number" id="quizTime" name="quizTime" [(ngModel)]="selectedQuiz.quizTime" required />
        </div>

        <div class="form-group">
          <label for="createdAt">Created At:</label>
          <input type="datetime-local" id="createdAt" name="createdAt" [(ngModel)]="selectedQuiz.createdAt" disabled />
        </div>

        <div class="form-group">
          <label for="lastUpdate">Last Update:</label>
          <input type="datetime-local" id="lastUpdate" name="lastUpdate" [(ngModel)]="selectedQuiz.lastUpdate" disabled />
        </div>

        <div class="form-actions">
          <div class="buttons">
            <button class="update-btn" type="submit">
              <img src="https://cdn-icons-png.flaticon.com/512/1688/1688988.png" width="20" height="20" alt="update-button" title="update" class="img-small">Update
            </button>
            <button class="cancel-btn" type="button" (click)="close()">
              <img src="https://cdn-icons-png.flaticon.com/512/9426/9426995.png" width="20" height="20" alt="cancel-button" title="cancel" class="img-small">Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
