
/* Table cells and header (unchanged for desktop) */
th, td {
    text-align: center;
    padding: 8px;
}

/* Header row (unchanged for desktop) */
thead {
    background-color: #0D0A2C;
    color: white;
    border-radius: 8px;
}


/* Start of media query for mobile devices */
@media (max-width: 768px) {
   
    /* Adjust table cells and header for better mobile readability */
    th, td {
        font-size: 0.8rem; /* Smaller font size */
        padding: 8px; /* Less padding */
    }

    h2 {
        font-size: 20px; /* Adjust heading size */
    }

    /* Prevent text overflow on small screens */
    td, th {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


}

/* Further adjustments for very small mobile screens (max-width: 480px) */
@media (max-width: 480px) {
    /* Very small screen - reduce text and padding further */
    th, td {
        font-size: 0.7rem; /* Further decrease font size */
        padding: 6px; /* Less padding */
    }

}
