<div class="container">
  <div class="upload-container FadeInRight" *ngIf="!isLoading">
    <div class="header">
      <a href="" [routerLink]="['/admin/create-quiz']">Back</a>
    </div>

    <h2 class="text-2xl font-semibold text-center mb-4">Upload Book PDF</h2>
    <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <div class="flex justify-center">
        <input type="file" accept="application/pdf" (change)="onFileSelected($event)" />
      </div>

      <div>
        <button type="submit" [disabled]="!selectedFile">
          Upload PDF
        </button>
      </div>
    </form>

    <!-- Display selected PDF name -->
    <div *ngIf="selectedFile" class="selected-file-name">
      <h4>Selected File:</h4>
      <h4>{{ selectedFile.name }}</h4>
    </div>
  </div>

  <div class="quiz-create-box FadeInLeft" *ngIf="!isLoading">
    <form (ngSubmit)="generateQuiz()" [formGroup]="quizForm">
      <div>
        <div class="form-group">
          <label for="title">Quiz Title</label>
          <input type="text" id="title" formControlName="title" placeholder="Enter quiz title">
          <div class="text-danger" *ngIf="quizForm.get('title').touched && quizForm.get('title').invalid">
            <small *ngIf="quizForm.get('title').hasError('required')">Title is required.</small>
          </div>
        </div>
  
        <div class="form-group">
          <label for="category">Quiz Category</label>
          <input type="text" id="category" formControlName="category" placeholder="Enter quiz category">
          <div class="text-danger" *ngIf="quizForm.get('category').touched && quizForm.get('category').invalid">
            <small *ngIf="quizForm.get('category').hasError('required')">Category is required.</small>
          </div>
        </div>
  
        <div class="form-group">
          <label for="difficultyLevel">Difficulty Level</label>
          <select id="difficultyLevel" formControlName="difficultyLevel">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
          </select>
          <div class="text-danger"
            *ngIf="quizForm.get('difficultyLevel').touched && quizForm.get('difficultyLevel').invalid">
            <small *ngIf="quizForm.get('difficultyLevel').hasError('required')">Difficulty level is required.</small>
          </div>
        </div>
  
        <div class="form-group">
          <label for="quizTime">Quiz Time (in minutes)</label>
          <input type="number" id="quizTime" formControlName="quizTime" placeholder="Enter quiz time (in minutes)">
          <div class="text-danger" *ngIf="quizForm.get('quizTime').touched && quizForm.get('quizTime').invalid">
            <small *ngIf="quizForm.get('quizTime').hasError('required')">Quiz time is required.</small>
          </div>
        </div>
  
        <div class="form-group">
          <label for="totalMarks">Total Marks</label>
          <input type="number" id="totalMarks" formControlName="totalMarks" placeholder="Enter total marks">
          <div class="text-danger" *ngIf="quizForm.get('totalMarks').touched && quizForm.get('totalMarks').invalid">
            <small *ngIf="quizForm.get('totalMarks').hasError('required')">Total marks are required.</small>
          </div>
        </div>
      </div>
  
      <!-- Step 2 -->
      <div>
        <div class="form-group">
          <label for="totalQuestion">Total Number of Questions</label>
          <input type="number" id="totalQuestion" formControlName="totalQuestion"
            placeholder="Enter total number of questions" (change)="onTotalQuestionsChange()">
          <div class="text-danger" *ngIf="quizForm.get('totalQuestion').touched && quizForm.get('totalQuestion').invalid">
            <small *ngIf="quizForm.get('totalQuestion').hasError('required')">Total number of questions is
              required.</small>
          </div>
        </div>
      </div>
  
  
      <div>
        <div formArrayName="questionDtoList">
          <div *ngFor="let question of questionDtoList.controls; let i = index">
            <div [formGroupName]="i" class="question-group">
              <div class="form-group">
                <label for="questionText">Question {{i + 1}}</label>
                <input type="text" formControlName="questionText" placeholder="Enter question text">
                <div class="text-danger"
                  *ngIf="question.get('questionText').touched && question.get('questionText').invalid">
                  <small *ngIf="question.get('questionText').hasError('required')">Question text is required.</small>
                </div>
              </div>
  
              <div class="form-group">
                <label for="marks">Marks</label>
                <input type="number" formControlName="marks" placeholder="Enter marks for this question">
                <div class="text-danger" *ngIf="question.get('marks').touched && question.get('marks').invalid">
                  <small *ngIf="question.get('marks').hasError('required')">Marks are required.</small>
                </div>
              </div>
  
              <div class="form-group">
                <label for="option1">Option 1</label>
                <input type="text" formControlName="option1" placeholder="Enter option 1">
                <div class="text-danger" *ngIf="question.get('option1').touched && question.get('option1').invalid">
                  <small *ngIf="question.get('option1').hasError('required')">Option 1 is required.</small>
                </div>
              </div>
  
              <div class="form-group">
                <label for="option2">Option 2</label>
                <input type="text" formControlName="option2" placeholder="Enter option 2">
                <div class="text-danger" *ngIf="question.get('option2').touched && question.get('option2').invalid">
                  <small *ngIf="question.get('option2').hasError('required')">Option 2 is required.</small>
                </div>
              </div>
  
              <div class="form-group">
                <label for="option3">Option 3</label>
                <input type="text" formControlName="option3" placeholder="Enter option 3">
                <div class="text-danger" *ngIf="question.get('option3').touched && question.get('option3').invalid">
                  <small *ngIf="question.get('option3').hasError('required')">Option 3 is required.</small>
                </div>
              </div>
  
              <div class="form-group">
                <label for="option4">Option 4</label>
                <input type="text" formControlName="option4" placeholder="Enter option 4">
                <div class="text-danger" *ngIf="question.get('option4').touched && question.get('option4').invalid">
                  <small *ngIf="question.get('option4').hasError('required')">Option 4 is required.</small>
                </div>
              </div>
  
              <div class="form-group">
                <label for="answer">Answer</label>
                <input type="string" formControlName="answer" placeholder="Enter answer">
                <div class="text-danger" *ngIf="question.get('answer').touched && question.get('answer').invalid">
                  <small *ngIf="question.get('answer').hasError('required')">Answer is required.</small>
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
  
  
  
      <div class="buttons">
        <button type="button" class="btn-quiz" (click)="addQuestion()">Add Question</button>
        <button class="btn-quiz" type="submit">Generate Quiz</button>
        <a routerLink="/quiz">Back to quiz</a>
      </div>
  
    </form>
  </div>
  
</div>

<!-- Loader -->
<div *ngIf="isLoading">
  <app-loader></app-loader>
</div>