<div class="container" *ngIf="!isLoading">
    <div>
        <h6><b>Dashboard</b></h6>
    </div>
    <div class="charts">
        <canvas baseChart width="400" height="400"
            [type]="'line'"
            [data]="lineChartData"
            [options]="lineChartOptions"
            [legend]="lineChartLegend">
        </canvas>
        <canvas baseChart
            [type]="'pie'"
            [datasets]="pieChartDatasets"
            [labels]="pieChartLabels"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
        </canvas>
        <canvas baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [type]="'bar'">
        </canvas>
        <canvas baseChart
            [labels]="doughnutChartLabels"
            [datasets]="doughnutChartDatasets"
            [options]="doughnutChartOptions"
            [legend]="true"
            [type]="'doughnut'">
        </canvas>
       
    </div>
</div>

<div class="container" *ngIf="isLoading">
    <app-loader></app-loader>
</div>