/* modal.component.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    border-radius: 2px;
  }
  
  .modal-content {
    height: 200px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .modal-header {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    gap: 20px;
    letter-spacing: 1px;
  }
  
  .close-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .modal-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .btn {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #04CD00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #007300;
  }
  

  .circle {
    width: 50px;          /* Width of the circle */
    height: 50px;         /* Height of the circle */
    border-radius: 50%;    /* Makes the div round */
    display: flex;         /* Enables flexbox */
    justify-content: center; /* Centers the content horizontally */
    align-items: center;   /* Centers the content vertically */
    color: white;          /* Text color */
    font-size: 40px;       /* Font size for the question mark */
    font-weight: bold;     /* Make the question mark bold */
  }
  
  .question-mark {
    font-family: Arial, sans-serif; /* Optional: Set the font style */
  }
  
  b{
    color: black;
    font-size: 10px;
  }