<!-- modal.component.html -->
<div class="modal-overlay" *ngIf="isVisible" (click)="close()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <div class="circle bg-gray-700">
            <span class="question-mark"><img src="   https://cdn-icons-png.flaticon.com/512/17877/17877270.png " width="25" height="25" alt="" title="" class="img-small"></span>
        </div>
        
        <p>Are you sure you want to submit Quiz?</p>
      </div>
      <div>
        
      </div>
      <div class="modal-footer">
        <button (click)="close()"><b>No</b> </button>
        <button (click)="submit()"><b>Yes</b></button>
      </div>
    </div>
  </div>
  