<!-- Table with Quiz Records -->
<div class="table relative flex flex-col w-full h-full overflow-scroll text-gray-700 bg-white shadow-md rounded-xl bg-clip-border">
    <table class="w-full text-left table-auto min-w-max">
        <thead>
            <tr>
                <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-none">
                        Quiz ID
                    </p>
                </th>
                <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-none">
                        Title
                    </p>
                </th>
                <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-none">
                        Category
                    </p>
                </th>
                <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-none">
                        Difficulty Level
                    </p>
                </th>
                <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-none">
                        Quiz Time (in minutes)
                    </p>
                </th>
                <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-none">
                        Number of Questions
                    </p>
                </th>
                <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-none">
                        Actions
                    </p>
                </th>
            </tr>
        </thead>
        <tbody *ngIf="quizzes.length > 0">
            <tr *ngFor="let quiz of quizzes">
                <td class="p-4 border-b border-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-normal text-blue-gray-900">
                        {{ quiz.quizId }}
                    </p>
                </td>
                <td class="p-4 border-b border-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-normal text-blue-gray-900">
                        {{ quiz.title }}
                    </p>
                </td>
                <td class="p-4 border-b border-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-normal text-blue-gray-900">
                        {{ quiz.category }}
                    </p>
                </td>
                <td class="p-4 border-b border-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-normal text-blue-gray-900">
                        {{ quiz.difficultyLevel }}
                    </p>
                </td>
                <td class="p-4 border-b border-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-normal text-blue-gray-900">
                        {{ quiz.quizTime  }} minutes
                    </p>
                </td>
                <td class="p-4 border-b border-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-normal text-blue-gray-900">
                        {{ quiz.questionDtoList.length }}
                    </p>
                </td>
                <td class="p-4 border-b border-blue-gray-50 btn-row">
                    <!-- Edit Button with Tooltip -->
                    <button class="edit-btn" (click)="openEditQuizModal(quiz)">
                        <img src="https://cdn-icons-png.flaticon.com/512/14025/14025007.png" width="20" height="20" alt="edit-icon" title="Edit Quiz" class="img-small"> 
                    </button> 
                    <!-- Delete Button with Tooltip -->
                    <button class="delete-btn" (click)="deleteQuizRecord(quiz.quizId)">
                        <img src="https://cdn-icons-png.flaticon.com/512/6711/6711573.png" width="20" height="20" alt="Delete free icon" title="Delete Quiz">
                    </button>
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="quizzes.length == 0 && !isLoading">
            <tr>
                <td colspan="7" class="text-center p-4">
                    No records found
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="quizzes.length === 0 && isLoading">
            <tr>
                <td colspan="7" class="text-center p-4">
                    <app-table-loader></app-table-loader> </td>
            </tr>
        </tbody>
    </table>
    <div class="modal" *ngIf="isDeleteModalOpen">
        <app-delete-modal [title]="title" >
        </app-delete-modal>
    </div>
    <div class="modal">
        <app-edit-quiz-form-modal [selectedQuiz]="selectedQuiz" >
        </app-edit-quiz-form-modal>
    </div>
</div>
