<!-- Edit OTP Modal -->
<div class="modal" *ngIf="isOtpModalOpen" (click)="close()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="header">
        <h4>Edit Password Reset OTP</h4>
        <div class="close-icon" (click)="close()">
          <span class="close-icon-x">×</span>
        </div>
      </div>
      <div class="content">
        <form (ngSubmit)="saveChanges()">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="selectedOtp.email" required />
          </div>
          <div class="form-group">
            <label for="otp">OTP:</label>
            <input type="text" id="otp" name="otp" [(ngModel)]="selectedOtp.otp" required maxlength="6" />
          </div>
          <div class="form-group">
            <label for="expiryTime">Expiry Time:</label>
            <input type="datetime-local" id="expiryTime" name="expiryTime" [(ngModel)]="selectedOtp.expiryTime" required disabled />
          </div>
          <div class="form-group">
            <label for="createdAt">Created At:</label>
            <input type="datetime-local" id="createdAt" name="createdAt" [(ngModel)]="selectedOtp.createdAt" disabled />
          </div>
          <div class="form-group">
            <label for="lastUpdate">Last Update:</label>
            <input type="datetime-local" id="lastUpdate" name="lastUpdate" [(ngModel)]="selectedOtp.lastUpdate" disabled />
          </div>
  
          <div class="form-actions">
            <div class="buttons">
              <button class="update-btn" type="submit">
                <img src="https://cdn-icons-png.flaticon.com/512/1688/1688988.png" width="20" height="20" alt="" title="" class="img-small">Update</button>
              <button class="cancel-btn" type="button" (click)="close()">
                <img src="https://cdn-icons-png.flaticon.com/512/9426/9426995.png" width="20" height="20" alt="" title="" class="img-small">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  