<div class="container" *ngIf="!isLoading">
  <div class="filter fadeInUp">
    <div class="filters">
      <!-- Filter Block -->
      <div class="filter-block">
        <div class="filter-item">
          <label for="quizName">Enter Quiz Name</label>
          <input
            type="text"
            id="quizName"
            class="filter-input"
            placeholder="Enter quiz name"
            [(ngModel)]="searchText"
            (input)="filterQuizzes()"
          />
        </div>
      </div>
  
      <div class="filter-block">
        <!-- Filter by Category -->
        <div class="filter-item">
          <label for="category" class="filter-label">Category</label>
          <select
            id="category"
            [(ngModel)]="selectedCategory"
            (change)="getQuizByCategory(selectedCategory)"
            class="filter-select"
          >
            <option value="{{selectedCategory}}" disabled selected>{{selectedCategory}}</option>
            <option *ngFor="let category of categories" [value]="category">
              {{ category | titlecase }}
            </option>
          </select>
        </div>
      </div>
  
      <div class="filter-block">
        <!-- Filter by Difficulty Level -->
        <div class="filter-item">
          <label for="difficultyLevel" class="filter-label">Level</label>
          <select
            id="difficultyLevel"
            [(ngModel)]="selectedLevel"
            (change)="filterQuizzesByLevel(selectedLevel)"
            class="filter-select"
          >
            <option value="{{selectedLevel}}" disabled selected>{{selectedLevel}}</option>
            <option *ngFor="let level of difficultyLevels" [value]="level">
              {{ level }}
            </option>
          </select>
        </div>
      </div>
  
      <div class="filter-block">
        <!-- Filter by Created Date -->
        <div class="filter-item">
          <label for="createdDate" class="filter-label">Date</label>
          <input
            type="date"
            id="createdDate"
            [(ngModel)]="selectedDate"
            (change)="filterQuizzes()"
            class="filter-input"
          />
        </div>
      </div>
  
      <div class="filter-block">
        <!-- Clear Filters Button -->
        <button class="clear-btn" (click)="clearFilters()"><img src="   https://cdn-icons-png.flaticon.com/512/18812/18812524.png " width="20" height="20" alt="" title="" class="img-small">Clear Filters</button>
      </div>
 
      
      <div class="filter-block">
        <button *ngIf="isAdminLogin" class="add-quiz-btn" [routerLink]="['/admin/create-quiz']"><img src="   https://cdn-icons-png.flaticon.com/512/12692/12692323.png " width="20" height="20" alt="" title="" class="img-small">Add Quiz</button>
      </div>
    </div>
  </div>
  
  
  <div class="quiz-container fadeInLeft">
    <div class="in-quiz-container">
  <div class="quizs" *ngIf="filteredQuizzes.length > 0">
    <div class="quiz-card" *ngFor="let quiz of filteredQuizzes">
      <div class="card-header">
        <p class="title">{{ quiz.title }}</p>
        <div class="timer">
          <mat-icon>alarm</mat-icon>
          <p>{{ quiz.quizTime * 60 | timeFormat }}</p>
        </div>
      </div>
      <div class="content">
        <p>Level <strong>{{ quiz.difficultyLevel }}</strong> </p>
        <p>Category <strong>{{ quiz.category }}</strong> </p>
        <p>Quiz Created Date <strong>{{quiz.createdAt | datetimeLocal}}</strong> </p>
      </div>
      <div class="btn">
        <button class="start-btn" [routerLink]="['/exam', quiz.quizId]"><img src="   https://cdn-icons-png.flaticon.com/512/2285/2285485.png " width="20" height="20" alt="" title="" class="img-small">Start Quiz</button>
        <button *ngIf="isAdminLogin" class="delete-btn" (click)="onDelete(quiz.quizId, quiz.title)"> <img src="   https://cdn-icons-png.flaticon.com/512/9790/9790368.png " width="20" height="20" alt="" title="" class="img-small">
          Delete Quiz
        </button>
      </div>
    </div>
  </div>

  
  <div class="modal" *ngIf="isDeleteModalOpen">
    <app-delete-modal [title]="title" (isDelete)="isDelete($event)"></app-delete-modal>
  </div>

  <div class="container" *ngIf="filteredQuizzes.length == 0">
    <div class="no-quiz">
      <p>No quiz available</p>
    </div>
    
  </div>
    </div>
  </div>
  
</div>

<!-- Loader when quizzes are loading -->
<div *ngIf="isLoading" class="container">
  <app-loader></app-loader>
</div>



<app-chatbot class="chatbot"></app-chatbot>