

body, html {
    
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }


/* Full screen loader overlay */
.loader-overlay {
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
/* Footer styling */
app-footer {
    position: relative;
    font-size: 14px;
    text-align: center; /* Center align the footer content */
    width: 100%;
    background-color: #fafafc;
  }
/* Loader animation */
app-loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }


 

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Media Query for mobile responsiveness */
  @media (max-width: 767px) {
    * {
      font-size: 14px; /* Reduce font size for mobile */
    }
  
    app-footer {
      font-size: 12px; /* Smaller font size in the footer */
      padding: 8px; /* Adjust padding for smaller screens */
      position: relative; 
      bottom: 0;
    }
  
    
  
    /* Loader size adjustments for mobile */
    app-loader {
      width: 40px;
      height: 40px;
    }
  }
