<!-- Edit Question Modal -->
<div class="modal" *ngIf="isQuestionModalOpen" (click)="close()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="header">
        <h4>Edit Question</h4>
        <div class="close-icon" (click)="close()">
          <span class="close-icon-x">×</span>
        </div>
      </div>
      <div class="content">
        <form (ngSubmit)="saveChanges()">
          <div class="form-group">
            <label for="question">Question:</label>
            <input type="text" id="question" name="question" [(ngModel)]="selectedQuestion.question" required />
          </div>
          <div class="form-group">
            <label for="option1">Option 1:</label>
            <input type="text" id="option1" name="option1" [(ngModel)]="selectedQuestion.option1" required />
          </div>
          <div class="form-group">
            <label for="option2">Option 2:</label>
            <input type="text" id="option2" name="option2" [(ngModel)]="selectedQuestion.option2" required />
          </div>
          <div class="form-group">
            <label for="option3">Option 3:</label>
            <input type="text" id="option3" name="option3" [(ngModel)]="selectedQuestion.option3" required />
          </div>
          <div class="form-group">
            <label for="option4">Option 4:</label>
            <input type="text" id="option4" name="option4" [(ngModel)]="selectedQuestion.option4" required />
          </div>
          <div class="form-group">
            <label for="answer">Answer:</label>
            <input type="text" id="answer" name="answer" [(ngModel)]="selectedQuestion.answer" required />
          </div>
          <div class="form-group">
            <label for="createdAt">Created At:</label>
            <input type="datetime-local" id="createdAt" name="createdAt" [(ngModel)]="selectedQuestion.createdAt" disabled />
          </div>
          <div class="form-group">
            <label for="lastUpdate">Last Update:</label>
            <input type="datetime-local" id="lastUpdate" name="lastUpdate" [(ngModel)]="selectedQuestion.lastUpdate" disabled />
          </div>
  
          <div class="form-actions">
            <div class="buttons">
              <button class="update-btn" type="submit">
                <img src="https://cdn-icons-png.flaticon.com/512/1688/1688988.png" width="20" height="20" alt="" title="" class="img-small">Update</button>
              <button class="cancel-btn" type="button" (click)="close()">
                <img src="https://cdn-icons-png.flaticon.com/512/9426/9426995.png" width="20" height="20" alt="" title="" class="img-small">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  