
<div class="container" *ngIf="isLoading">
  <app-loader></app-loader>
</div>


<div class="container" *ngIf="!isLoading">
  <div class="image fadeInLeft">
        <img src="   https://cdn-icons-png.flaticon.com/512/4961/4961736.png " width="256" height="256" alt="" title="" class="img-small">
    </div>
    <div class="contact-box fadeInRight">
        <!-- <h2>Login</h2> -->
        <div class="content">
          <h2>Contact Us</h2>
          <p><b>Some Contact information on how to reach out</b> </p>
          </div>
        <form  [formGroup]="contactUsForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <input type="text" id="name" name="name" formControlName="sender_name" required placeholder="Enter your name">
              <div class="text-danger" *ngIf="contactUsForm.get('sender_name').touched && contactUsForm.get('sender_name').invalid">
                <small *ngIf="contactUsForm.get('sender_name').hasError('required')">Name is required</small>
              </div>
              </div>
          <div class="form-group">
            <input type="email" id="email" name="email" formControlName="sender_email" required placeholder="Enter your email">
            <div class="text-danger" *ngIf="contactUsForm.get('sender_email').touched && contactUsForm.get('sender_email').invalid ">
              <small *ngIf="contactUsForm.get('sender_email').hasError('required')"  >Email is required.</small>
              <small *ngIf="contactUsForm.get('sender_email').hasError('email')" >Please enter a valid email address.</small>
            </div>
          </div>

          <div class="form-group">
            <textarea id="message" name="message" formControlName="message" required placeholder="Enter your message" class="form-control"></textarea>
            <div class="text-danger" *ngIf="contactUsForm.get('message').touched && contactUsForm.get('message').invalid">
              <small *ngIf="contactUsForm.get('message').hasError('required')">Message is required</small>
              <small *ngIf="contactUsForm.get('message').hasError('minlength')">Message body should be greater than 10</small>
            </div>
          </div>
          <button type="submit" class="btn-send" [disabled]="contactUsForm.invalid">Send</button>
        </form>
      </div>
  </div>
