<!-- Edit Modal -->
<div class="modal" *ngIf="isUserModalOpen && !isLoading" (click)="close()">
  <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="header">
          <h4>{{ selectedUser?.userId ? 'Edit User' : 'Create User' }}</h4>
          <div class="close-icon" (click)="close()">
              <span class="close-icon-x">×</span>
          </div>
      </div>

      <div class="content">
          <form [formGroup]="userForm" (ngSubmit)="saveChanges()">
              
              <!-- First Name -->
              <div class="form-group">
                  <label for="firstName">First Name:</label>
                  <input
                      type="text"
                      id="firstName"
                      formControlName="firstName"
                      required
                      class="form-control"
                  />
                  <div class="text-danger" *ngIf="userForm.get('firstName').touched && userForm.get('firstName').invalid" class="error">
                      First name is required.
                  </div>
              </div>

              <!-- Last Name -->
              <div class="form-group">
                  <label for="lastName">Last Name:</label>
                  <input
                      type="text"
                      id="lastName"
                      formControlName="lastName"
                      required
                      class="form-control"
                  />
                  <div class="text-danger" *ngIf="userForm.get('lastName').touched && userForm.get('lastName').invalid" class="error">
                      Last name is required.
                  </div>
              </div>

              

              <!-- Username -->
              <div class="form-group">
                  <label for="username">Username:</label>
                  <input
                      type="text"
                      id="username"
                      formControlName="username"
                      required
                      class="form-control"
                  />
                  <div *ngIf="userForm.get('username').touched && userForm.get('username').invalid" class="error">
                      Username is required (min 3 characters).
                  </div>
              </div>

              <!-- Email -->
              <div class="form-group">
                  <label for="email">Email:</label>
                  <input
                      type="email"
                      id="email"
                      formControlName="email"
                      required
                      class="form-control"
                     
                  />
                  <div *ngIf="userForm.get('email').touched && userForm.get('email').invalid" class="error">
                      Please provide a valid email.
                  </div>
              </div>

              <!-- Phone Number -->
              <div class="form-group">
                  <label for="phoneNumber">Phone Number:</label>
                  <input
                      type="text"
                      id="phoneNumber"
                      formControlName="phoneNumber"
                      required
                      class="form-control"
                  />
                  <div *ngIf="userForm.get('phoneNumber').touched && userForm.get('phoneNumber').invalid" class="error">
                      Phone number must be 10 digits.
                  </div>
              </div>

              <div class="checkbox">
                  <div class="form-group checkbox">
                      <label for="isActive">Is Active:</label>
                      <input type="checkbox" id="isActive" formControlName="isActive" />
                  </div>

                  <div class="form-group">
                      <label for="isVerified">Is Verified:</label>
                      <input type="checkbox" id="isVerified" formControlName="isVerified" />
                  </div>

                  <div class="form-group">
                      <label for="isOtpVerified">Is OTP Verified:</label>
                      <input type="checkbox" id="isOtpVerified" formControlName="isOtpVerified" />
                  </div>
              </div>

              <div class="form-group">
                  <label for="otpLastUpdate">OTP Last Update:</label>
                  <input
                      type="datetime-local"
                      id="otpLastUpdate"
                      formControlName="otpLastUpdate"
                      class="form-control"
                  />
              </div>

              <div class="form-group">
                  <label for="createdAt">Created At:</label>
                  <input
                      type="datetime-local"
                      id="createdAt"
                      formControlName="createdAt"
                      [disabled]="true"
                      class="form-control"
                  />
              </div>

              <div class="form-group">
                  <label for="lastUpdate">Last Update:</label>
                  <input
                      type="datetime-local"
                      id="lastUpdate"
                      formControlName="lastUpdate"
                      [disabled]="true"
                      class="form-control"
                  />
              </div>

              <div class="form-actions">
                  <div class="buttons">
                      <button class="update-btn" type="submit" >
                          <img src="https://cdn-icons-png.flaticon.com/512/1688/1688988.png" width="20" height="20" alt="" class="img-small" />
                          {{ selectedUser?.userId ? 'Update' : 'Create' }}
                      </button>
                      <button class="cancel-btn" type="button" (click)="close()">
                          <img src="https://cdn-icons-png.flaticon.com/512/9426/9426995.png" width="20" height="20" alt="" class="img-small" />
                          Cancel
                      </button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>
<!-- End Edit Modal -->
<div class="modal" *ngIf="isLoading">
    <app-loader></app-loader>
</div>