<div class="register-container" *ngIf="!isLoading">
  <div class="fadeInLeft">
    <img src="https://cdn-icons-png.flaticon.com/512/15289/15289503.png" width="250" height="250" alt="Register Icon">
  </div>
  <div class="register-box fadeInRight">
    <div class="content">
      <h2>Register Here</h2>
      <p><b>Hello user, you have</b></p>
      <p><b>a great journey</b></p>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="registrationForm">
      <ng-container [ngSwitch]="currentStep">
        <!-- Step 1 -->
        <div *ngSwitchCase="1">
          <div class="form-group">
            <input type="text" id="firstName" formControlName="first_name" placeholder="Enter your first name">
            <div class="text-danger" *ngIf="registrationForm.get('first_name').touched && registrationForm.get('first_name').invalid">
              <small *ngIf="registrationForm.get('first_name').hasError('required')">First name is required.</small>
              <small *ngIf="registrationForm.get('first_name').hasError('minlength')">First name must be at least 3 characters.</small>
              <small *ngIf="registrationForm.get('first_name').hasError('maxlength')">First name cannot be more than 25 characters.</small>
            </div>
          </div>

          <div class="form-group">
            <input type="text" id="lastName" formControlName="last_name" placeholder="Enter your last name">
            <div class="text-danger" *ngIf="registrationForm.get('last_name').touched && registrationForm.get('last_name').invalid">
              <small *ngIf="registrationForm.get('last_name').hasError('required')">Last name is required.</small>
              <small *ngIf="registrationForm.get('last_name').hasError('maxlength')">Last name cannot be more than 25 characters.</small>
            </div>
          </div>

          <div class="form-group">
            <input type="email" id="email" formControlName="email" placeholder="Enter your email">
            <div class="text-danger" *ngIf="registrationForm.get('email').touched && registrationForm.get('email').invalid">
              <small *ngIf="registrationForm.get('email').hasError('required')">Email is required.</small>
              <small *ngIf="registrationForm.get('email').hasError('email')">Please enter a valid email address.</small>
            </div>
          </div>
        </div>

        <!-- Step 2 -->
        <div *ngSwitchCase="2">
          <div class="form-group">
            <input type="text" id="phone" formControlName="phone_number" placeholder="Enter your phone number">
            <div class="text-danger" *ngIf="registrationForm.get('phone_number').touched && registrationForm.get('phone_number').invalid">
              <small *ngIf="registrationForm.get('phone_number').hasError('required')">Phone number is required.</small>
              <small *ngIf="registrationForm.get('phone_number').hasError('minlength')">Phone number must be 10 digits.</small>
              <small *ngIf="registrationForm.get('phone_number').hasError('maxlength')">Phone number cannot be more than 10 digits.</small>
            </div>
          </div>

          <div class="form-group">
            <input type="text" id="username" formControlName="username" placeholder="Enter your username">
            <div class="text-danger" *ngIf="registrationForm.get('username').touched && registrationForm.get('username').invalid">
              <small *ngIf="registrationForm.get('username').hasError('required')">Username is required.</small>
              <small *ngIf="registrationForm.get('username').hasError('minlength')">Username must be at least 5 characters.</small>
              <small *ngIf="registrationForm.get('username').hasError('maxlength')">Username cannot be more than 10 characters.</small>
            </div>
          </div>

          <div class="form-group">
            <input type="password" id="password" formControlName="password" placeholder="Enter your password">
            <div class="text-danger" *ngIf="registrationForm.get('password').touched && registrationForm.get('password').invalid">
              <small *ngIf="registrationForm.get('password').hasError('required')">Password is required.</small>
              <small *ngIf="registrationForm.get('password').hasError('minlength')">Password must be at least 8 characters.</small>
              <small *ngIf="registrationForm.get('password').hasError('maxlength')">Password cannot be more than 20 characters.</small>
            </div>
          </div>

          <div class="form-group">
            <input type="password" id="confirm-password" formControlName="confirm_password" placeholder="Confirm your password">
            <div class="text-danger" *ngIf="registrationForm.get('confirm_password').hasError('noMatch')">
              <small>Passwords do not match.</small>
            </div>            
          </div>
        </div>
      </ng-container>

      <div class="or-divider m-2" style="display: flex; align-items: center; text-align: center;">
        <hr style="flex: 1; border: none; border-top: 1px solid #ccc; margin: 0 10px;" />
        <span>or</span>
        <hr style="flex: 1; border: none; border-top: 1px solid #ccc; margin: 0 10px;" />
      </div>

      <div class="oauth-container"> 
        <button type="button" class="btn-google-login" (click)="onGoogleLogin()">
          <div class="oauth">
            <img src="https://cdn-icons-png.flaticon.com/512/281/281764.png" width="20" height="20" alt="Google Icon">
            <span>Signup with Google</span>
          </div>
        </button>

        <button type="button" class="btn-github-login" (click)="onGithubLogin()">
          <div class="oauth">
            <img src="https://cdn-icons-png.flaticon.com/512/733/733553.png" width="20" height="20" alt="GitHub Icon">
            <span>Signup with GitHub</span>
          </div>
        </button>
      </div>

      <!-- Navigation Buttons -->
      <div class="buttons">
        <button class="btn-login" *ngIf="currentStep > 1" type="button" (click)="previousStep()">Back</button>
        <button class="btn-login" *ngIf="currentStep < 2" type="button" (click)="nextStep()">Next</button>
        <button class="btn-login" *ngIf="currentStep === 2" type="submit" [disabled]="registrationForm.invalid">Sign in</button>
      </div>

      <div class="links">
        <a routerLink="/login">Already have an account? </a>
        <b style="color: black;" routerLink="/login">Login</b>
      </div>
    </form>
  </div>
</div>

<div *ngIf="isLoading" class="register-container">
  <app-loader></app-loader>
</div>
