<div class="container" *ngIf="isLoading">
  <app-loader></app-loader>
</div>

<div class="container" *ngIf="!isLoading">
    <div class="image-container fadeInLeft">
        <div>
            <img src="   https://cdn-icons-png.flaticon.com/512/13637/13637524.png " width="256" height="256" alt="" title="" class="img-small">
        </div>
      </div>
        
        <div class="reset-box fadeInRight">
          <!-- <h2>Login</h2> -->
          <div class="content">
            <h2>Reset Password</h2>
            <p>Enter your email for a, </p>
            <p>password reset link.</p>
            </div>
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" >
            <div class="form-group">
              <input type="email" id="email" name="email" formControlName="email" required placeholder="Enter your email">
            <div class="text-danger" *ngIf="forgotPasswordForm.get('email').touched && forgotPasswordForm.get('email').invalid">
              <small *ngIf="forgotPasswordForm.get('email').hasError('required')">Email is required</small>
              <small *ngIf="forgotPasswordForm.get('email').hasError('email')">Enter valid email</small>
              <small *ngIf="forgotPasswordForm.get('email').hasError('maxlength')">Email should not be greater than 30</small>

            </div>
            </div>

            <button type="submit" class="btn-reset-password" [disabled]="forgotPasswordForm.invalid">Send Reset Link</button>
      
            <div class="links">
              <a routerLink="/login">back to login</a>
            </div>
          </form>
        </div>
</div>