<!-- Table with Student Records -->
<div class="table relative flex flex-col w-full h-full overflow-scroll text-gray-700 bg-white shadow-md rounded-xl bg-clip-border">
    <table class="w-full text-left table-auto min-w-max">
        <thead>
            <tr>
                <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-none">
                        User ID
                    </p>
                </th>
                <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-none">
                        Student ID
                    </p>
                </th>
                <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-none">
                        First Name
                    </p>
                </th>
                <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-none">
                        Last Name
                    </p>
                </th>
                <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-none">
                        Number of Quiz Attempted
                    </p>
                </th>
                <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-none">
                        Average Score
                    </p>
                </th>
                <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-none">
                        Created At
                    </p>
                </th>
                <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-none">
                        Last Update
                    </p>
                </th>
                <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-none">
                        Actions
                    </p>
                </th>
            </tr>
        </thead>
        <tbody *ngIf="students.length > 0">
            <tr *ngFor="let student of students">
                <td class="p-4 border-b border-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-normal text-blue-gray-900">
                        {{ student.userId }}
                    </p>
                </td>
                <td class="p-4 border-b border-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-normal text-blue-gray-900">
                        {{ student.studentId }}
                    </p>
                </td>
                <td class="p-4 border-b border-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-normal text-blue-gray-900">
                        {{ student.firstName }}
                    </p>
                </td>
                <td class="p-4 border-b border-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-normal text-blue-gray-900">
                        {{ student.lastName }}
                    </p>
                </td>
                <td class="p-4 border-b border-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-normal text-blue-gray-900">
                        {{ student.numberOfQuizAttempted }}
                    </p>
                </td>
                <td class="p-4 border-b border-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-normal text-blue-gray-900">
                        {{ student.averageScore }}
                    </p>
                </td>
                <td class="p-4 border-b border-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-normal text-blue-gray-900">
                        {{ student.createdAt | date:'short' }}
                    </p>
                </td>
                <td class="p-4 border-b border-blue-gray-50">
                    <p class="block font-sans text-xs antialiased font-normal leading-normal text-blue-gray-900">
                        {{ student.lastUpdate | date:'short' }}
                    </p>
                </td>
                <td class="p-4 border-b border-blue-gray-50 btn-row">
                    <!-- Edit Button with Tooltip -->
                    <button class="edit-btn" (click)="openEditStudentModal(student)">
                        <img src="https://cdn-icons-png.flaticon.com/512/14025/14025007.png" width="20" height="20" alt="edit-icon" title="Edit Student" class="img-small"> 
                    </button> 
                    <!-- Delete Button with Tooltip -->
                    <button class="delete-btn" (click)="deleteStudentRecord(student.studentId)">
                        <img src="https://cdn-icons-png.flaticon.com/512/6711/6711573.png" width="20" height="20" alt="Delete free icon" title="Delete Student">
                    </button>
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="students.length == 0">
            <tr>
                <td colspan="9" class="text-center p-4">
                    No records found
                </td>
            </tr>
        </tbody>
    </table>
</div>
